/*----------------header-section-start------------- */

.header-section {
    background-color: transparent;
    padding: 16px 0px;
    position: fixed;
    z-index: 999999;
    width: 100%;
   
}
h1{
    font-family: var(--font-Josefin-Sans);
    font-size: 47px;
}
p{
    font-family:Avenir ;
}
.header-section .header {
    display: flex;
    justify-content: space-around;
}

.header-section .header img {
    width: 150px;

}

.header-section .header ul li {
    list-style: none;
}

.header-section .header ul {
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.header-section .header ul li a {
    text-decoration: none;
    color: white;
    position:relative ;
    font-size: 14px;
    font-weight: 500;
    font-family: Rubik;
}

.header-section .header ul li .flag {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header-section .header ul li .flag img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-section .header ul li a:hover{
    color: #D2137F;
}


.header-section .header ul li a::before{
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    bottom: -3px;
    display: block;
    width: 0;
    background-color: #D2137F;
    transition-duration: 0.8s;
}
.header-section .header ul li a:hover:before{
    width: 100%;
    transition: 0.8s;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.header-section .header ul li a.head-btn:hover{
    color: white;
    text-decoration: none;
    
}
.header-section .header ul li a.head-btn:hover::before{
    width: 0;
}


.header-section .header ul li a.head-btn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.header-section .header ul li.white-btn:hover{
    transform: translateY(-7px);
}

.header-section .header ul li.white-btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    transition: all 200ms linear 0ms;
}

.header-section .header ul li.blue-btn {
    background-color: rgb(80, 101, 254);
}

.header-section .header ul li.pink-btn {
    background-color: rgb(210, 41, 127);
}



/* --------------------header-section-end-------------- */

/* -------------------banner-section-start------------- */

.banner-section {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    top: 0;
    background-color: #000;
}


.banner-section .banner {
    height: 100vh;
    width: 100%;
    position: relative;
}

.banner-section .banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-section .banner .bnr-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    flex-direction: column;
    

}

.banner-section .banner .bnr-top-title {
    display: inline-block;
}

.banner-section .banner .bnr-top-title h1 {
    font-size: 9.5vw;
    font-weight: 600;
    color: white;
    letter-spacing: .5px;
    margin-bottom: 10px;
    line-height: 1;
    font-family: 'Montserrat';
}

.banner-section .banner .bnr-top-title h1 span {
    display: flex;
    align-items: center;
    width: 100%;
    color: #5065FF;
    text-align: left;
    margin: 10px 0px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.banner-section .banner .bnr-top-title h1 span::before {
    content: "";
    display: inline-block;
    width: 42px;
    height: 42px;
    background: #D2137F;
    margin: 0px 10px 0px 12px;
}

.banner-section .banner .bnr-center-title {
    padding-top: 30px;
}

.banner-section .banner .bnr-center-title h4 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-bottom: 10px;
}

.banner-section .banner .bnr-center-title h3 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.banner-section .banner .bnr-btn {
    padding-top: 30px;
    

}

.banner-section .banner .bnr-btn button {
    width: 160px;
    height: 50px;
    font-size: 15px;
    color: white;
    border: none;
}

.banner-section .banner .bnr-btn button.bnr-pink-btn {
    background-color: #D2137F;
    margin: 0px 20px;
    transition: all 200ms linear 0ms;
}

a {
    text-decoration: none;
}

.banner-section .banner .bnr-btn button.bnr-blue-btn {
    background-color: #5065FF;
    margin: 0px 20px;
    transition: all 200ms linear 0ms;
}

.banner-section .banner .bnr-btn button.bnr-blue-btn:hover {
    background-color: white;
    color: #5065FF;
    transform: translateY(-7px);
   
}

.banner-section .banner .bnr-btn button.bnr-pink-btn:hover {
    color: #D2137F;
    background-color: white;
    transform: translateY(-7px);
    
}

/* ---------------------banner-section-end---------------- */

/* ---------------------about-section-start----------------- */

.about-section {
    background-color: black;
    padding: 100px 0px;
}

.about-section .about-content {
    color: white;
}

.about-section .about-content h1 {
    font-size: 47px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    font-family: Josefin-Sans;
    text-transform: uppercase;
}

.about-section .about-content p {
    font-size: 17px;
    font-family: avenir;
}

.about-section .about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0px auto;
    mix-blend-mode: screen;
    filter: contrast(1.1);
}

/* ---------------.about-card-section-start----------- */

.about-section .about-card {
    padding-top: 70px;
}

.about-section .about-card .row {
    padding: 0px;
    justify-content: center;

}

.about-section .about-card .col-lg-4 {
    padding: 0px;
}

.about-section .about-card img {
    width: 70px;
    height: 70px;

}

.about-section .about-card .card-img {
    display: flex;
    justify-content: center;
}

.about-section .about-card .card-box {
    padding: 30px 20px;
    width: 100%;
    height: 100%;
    min-height: 260px;
    color: white;
    position: relative;
    cursor: pointer;

}

.about-section .about-card .card-box .title {
    font-size: 32px;
    text-align: center;
    font-family: big john;
    margin-bottom: 16px;

}

.about-section .about-card .card-box .content p {
    font-size: 14px;
    position: relative;
    margin: 0px;
}


.about-section .about-card .one {
    background-color: #D2137F;
}

.about-section .about-card .two {
    background-color: rgb(199, 140, 20);
}

.about-section .about-card .three {
    background-color: #5065FF;
}

/* --------------------about-section-end-------------- */

/* ------------------counter-section-start--------------- */

.counter-section {
    padding: 40px 0px 60px;
    background: linear-gradient(0deg, rgba(9, 24, 75, 1) 18%, rgba(0, 0, 0, 1) 100%);
}

.counter-section .counter-item .counter {
    font-size: 3rem;
    font-weight: 600;
    position: relative;
    line-height: 1.3;
    color: rgba(80, 101, 255, 1);
    text-align: center;
}

.counter-section .counter-item .counter::after {
    content: "+";
    position: absolute;
}

.counter-section .counter-item span {
    font-size: 20px;
    color: white;
    font-weight: 400;
    line-height: 1.8;
    white-space: nowrap;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

/* -------------------counter-section-end-------------- */

/* ------------------attend-section-start--------------- */

.attend-section {
    padding: 20px 0px 100px;
    background: linear-gradient(180deg, rgba(9, 24, 75, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.attend-section .row {
    align-items: center;
    row-gap: 30px;
}

.attend-section .attend-content-left .title h1 {
    font-size: 47px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Josefin-Sans;
    text-transform: uppercase;
    text-align: left;
}

.attend-section .attend-content-left {
    color: #c7c7c7
}

.attend-section .attend-content-left p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 16px;
    font-weight: 400;
    font-family: var(--font-Avenir-Heavy);
}

.attend-section .attend-content-left ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.attend-section .attend-content-left ul li {
    list-style: none;
    flex-basis: 50%;
    position: relative;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 16px;
}

.attend-section .attend-content-left ul li::before {
    content: "";
    position: absolute;
    border: solid;
    padding: 2px;
    border-width: 0px 2px 2px 0px;
    transform: rotate(-45deg);
    top: 9px;
    left: 0;

}

.attend-section .attend-content-left button {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: #D2137F;
    color: white;
    margin-top: 30px;
    border-color: white;
    transition: all 200ms linear 0ms;


}

.attend-section .attend-content-left button:hover {
    transform: translateY(-7px);
    color: white;
}


.attend-section .attend-content-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0px auto;
}

/* --------------attend-section-end-----------------*/


/* ---------------insight-section-start------------ */

.insight-card-section {
    background-color: #000;
    padding: 100px 0px;
    padding-top: 0px;
}

.insight-card-section .insight-card-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 30px;
    align-items: center;
}

.insight-card-section .insight-card {
    max-width: 280px;
    min-height: 350px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Insight-Card/Insight-Forex.jpg);
    overflow: hidden;

}

.insight-card-section .card-1 {
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Insight-Card/Insight-Forex.jpg);
}

.insight-card-section .card-2 {
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Insight-Card/Insight-Bitcoin.jpg);
}

.insight-card-section .card-3 {
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Insight-Card/Insight-Wealth-management.jpg);
}

.insight-card-section .card-4 {
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Insight-Card/Insight-Blockchain.jpg);
}

.insight-card-section .card-5 {
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Insight-Card/Insight-Stocks.jpg);
}

.insight-card-section .card-6 {
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Insight-Card/Insight-ETF.jpg);
}

.insight-card-section .insight-content h2 {
    color: white;
    font-size: 23px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 12px;
}

.insight-card-section .insight-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.insight-card-section .insight-content .insight-btm-line {
    background: #e1e1e1;
    color: #fff;
    width: 100%;
    height: 2.2px;
    max-width: 50px;
    display: inline-block;
}

/* --------------------insight-section-end-------------- */

/* -----------------highlight-section-start-------------- */


.highlight-section {
    padding: 100px 0;
}

.highlight-section .title h1 {
    font-size: 47px;
    font-weight: 700;
    text-align: center;
    color: #2F2FBB;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.highlight-section .hglt-col {
    padding: 0px;
    margin: 0px;
}

.highlight-section .high-light-inner {
    position: relative;
    border: 5px solid rgb(255, 255, 255);
    max-height: 400px;
    height: 270px;
    overflow: hidden;
}

.highlight-section .high-light-inner a {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.highlight-section .high-light-inner a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 0.6s linear;
}

.highlight-section .high-light-inner .hglt-wrap {
    position: absolute;
    bottom: 0;
    z-index: 99;
    color: #fff;
    line-height: 1;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 50px 0 40px;
    font-size: 1.5rem;
}

.highlight-section .high-light-inner a:hover img {
    transform: scale3d(1.2, 1.2, 1);
}

.highlight-section .high-light-inner .hglt-wrap .hglt-icon {
    position: absolute;
    right: 20px;
    bottom: 0;
}

.highlight-section .high-light-inner .hglt-shade {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: inset 0 -200px 100px -100px rgba(22, 23, 25, .85098);
}

/* -------------------highlight-section-end------------------- */

/* -------------------speaker-section-start------------------- */

.speaker-section {
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Small-Banners/Spkr-Bg.png);
    background-color: #000;
    padding: 100px 0px;
}


.speaker-section .title h1 {
    font-size: 47px;
    color: #D2137F;
    font-weight: 700;
    font-family: Josefin-Sans;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.speaker-section .speaker {
    display: flex;
    text-align: center;
}

.speaker-section .speaker .spkr-data {
    position: relative;
    max-width: 260px;
    min-height: 355px;
    height: 100%;
    text-align: center;
    margin: 10px auto;
    background: linear-gradient(180deg, #5065FF 0%, #202863 99.7%);
    overflow: hidden;
    border: 0.1px solid rgb(14 22 48);
}

.speaker-section .speaker .spkr-data img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.speaker-section .speaker .spkr-data .spkr-content {
    padding: 0px 10px;
    margin: 25px 0px;
}

.speaker-section .speaker .spkr-data .spkr-content .spkr-name {
    font-size: 18px;
    font-weight: 700;
    color: white;
    display: block;
    margin: 0;
}

.speaker-section .speaker .spkr-data .spkr-content .spkr-lead,
.speaker-section .speaker .spkr-data .spkr-content .spkr-company {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 3px;
}

.speaker-section .slick-prev::before,
 .speaker-section .slick-next::before {
    content: "";
    background-image: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/SVGs/Spkr-RightArrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.speaker-section .slick-prev::before{
    transform: rotate(180deg);

}

.speaker-section .slick-prev, .speaker-section .slick-next {
   
    height: 40px;
}

.speaker-section .spkr-btn {
    background-color: #D2137F;
    color: white;
    border-radius: 10px;
    width: 160px;
    height: 50px;
    border-color: white;
    font-size: 14px;
    font-family: Josefin-Sans;
    position: relative;
    text-transform: uppercase;
    transition: all 200ms linear 0ms;

}

.speaker-section .button-section {
    text-align: center;
    margin-top: 15px;
}

.speaker-section .spkr-btn:hover {
    color: #fff;
    transform: translateY(-7px);
}

/* ----------------------speaker-pop-up----------------- */


.speaker-popup-container .modal-content {
    max-height: 390px;
}
.speaker-popup-container .Spkr-Popup{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.speaker-popup-container .modal-body{
    background: #2F2FBB;
    padding: 10px;
}
.speaker-popup-container .modal-body .btn-close{
    position: absolute;
    right: 25px;
    top: 22px;
    background: transparent url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/SVGs/Close-Button.svg) center / 1em auto no-repeat;
    opacity: 1;
}

.speaker-popup-container .Spkr-Popup .Spkr-Popup-Left{
    width: 30%;
}
.speaker-popup-container .Spkr-Popup img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
}
.speaker-popup-container .Spkr-Popup .Spkr-Popup-Right{
    width: 70%;
}

.speaker-popup-container .Spkr-Popup .Spkr-Popup-Details{
    background: linear-gradient(180deg, rgb(2 21 88) 10%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 7px 6px 20px rgba(0, 0, 0, .65);
    color: #fff;
    padding: 30px 20px 30px 30px;
    height: 100%;
    width: 100%;
}

.speaker-popup-container .Spkr-Popup .Spkr-Popup-Details .Spkr-Popup-Content {
    margin-bottom: 20px;
}

.speaker-popup-container .Spkr-Popup .Spkr-Popup-Details .Spkr-Popup-Content h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    font-family: var(--font-Avenir-Heavy);
}

.speaker-popup-container .Spkr-Popup .Spkr-Popup-Details .Spkr-Popup-Content p {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0px;
    font-family: var(--font-Avenir-Heavy);
}
.speaker-popup-container .Spkr-Popup .Spkr-Popup-Details .Spkr-Popup-Content p {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0px;
    font-family: var(--font-Avenir-Heavy);
}

.speaker-popup-container .Spkr-Popup .Spkr-Popup-Details .Spkr-Popup-Desc {
    overflow: hidden;
}

.speaker-popup-container .Spkr-Popup .Spkr-Popup-Details .Spkr-Popup-Desc p {
    padding: 0px 4px 0px 20px;
    overflow-y: scroll;
    max-height: 120px;
}
/* -----------------speaker-section-end------------------- */

/* -----------------sponsor-section-start----------------- */

.sponsor-section {
    background-color: rgba(248, 248, 248, 1);
    padding: 100px 0px;
}

.sponsor-section .row {
    justify-content: center;
   
}

.sponsor-section .title h1 {
    font-size: 47px;
    font-weight: 700;
    color: #5065FF;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

}

.sponsor-section .titanium-section h1 {
    font-size: 27px !important;
    font-weight: 700;
    color: rgba(80, 80, 80, 1);
    text-align: center;
    padding: 12px 0px;
    letter-spacing: 10px;
    margin: 0 auto;
    font-family:Montserrat;


}

.sponsor-section .sponsor-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sponsor-section .titanium-section .sponsor-line {
    flex: 1;
    height: 2px;
    background: rgba(0, 0, 0, 1);
    color: #000;
    display: inline-block;
}

.sponsor-section .titanium-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sponsor-section .titanium-section .sponsor-item {
    width: 20% !important;

}

.sponsor-section .titanium-section .sponsor-card {
    position: relative !important;
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    border-radius: 10px;
    z-index: 22;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid;
    margin: 40px auto;
    background-color: #fff;

}

.sponsor-section .titanium-section .sponsor-card-site {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 22px 5px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #D2137F;
    transform: scale(0.6);
    opacity: 0;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.sponsor-section .titanium-section .sponsor-card:hover .sponsor-card-site {
    transform: scale(1);
    opacity: 1;

}

.sponsor-section .sponsor-card:hover {
    border: transparent;
}

.sponsor-section .spnr-btn {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: #D2137F;
    color: #fff;
    border-color: white;

}

.sponsor-section .sponsor-btn {
    text-align: center;
    margin-top: 20px;
    transition: all 200ms linear 0ms;
}

.sponsor-section .sponsor-btn:hover {
    color: #fff;
    transform: translateY(-7px);
}

/* --------------------------sponsor-section-end------------------ */


/* --------------------------map-section-start-------------- */

.map-section {
    background: radial-gradient(circle, rgb(3 19 73) -56%, rgba(0, 0, 0, 1) 100%);
    padding: 100px 0;
}

.map-section .row {
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.map-section .map-emd {
    display: flex;
    justify-content: center;
}

.map-section .event-map{
    width: 100%;
}
.map-section .title h1 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
    color: white;

}

.map-section .event-venue p {
    font-size: 16px;
    color: white;
    margin-bottom: 16px;

}

.map-section .google-btn button {
    width: 160px;
    height: 50px;
    background: linear-gradient(#D2137F, #D2137F) padding-box padding-box, linear-gradient(#D2137F, white) border-box border-box;
    box-shadow: 0px 5px 7px 0px #b300a757;
    color: #fff;
    border-radius: 10px;
    border-color: white;
}

.map-section .google-btn:hover {
    color: #fff;
    transform: translateY(-7px);
}

.map-section .google-btn {
    margin-top: 35px;
    transition: all 200ms linear 0ms;
}


/* --------------map-section-end-------------- */


/* ----------contact-section-start------------ */

.contact-team-section {
    background: rgba(248, 248, 248, 1);
    padding: 100px 0px;
}

.contact-team-section .title h1 {
    font-size: 47px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #D2137F;
    font-family: Josefin-Sans;
}

.contact-team-section .title p {
    text-align: center;
    padding-bottom: 25px;
    color: #000000;
    font-size: 16px;
    margin-bottom: 16px;
}

.contact-team-section .team-mems {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 3rem;
    margin-bottom: 50px;
}

.contact-team-section .team-mems-3 {
    margin: 0px;
}

.contact-team-section .team-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 240px;
    min-height: 295px;
    border: 0.4px solid rgba(0, 0, 0, 0.349);
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s;
    color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.contact-team-section .contact-team-list .team-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0px;
    pointer-events: none;
    background: url(https://hqmena.com/MoneyExpo-Mexico/ME-Mexico12024/assets/image/Team-Section/Card-BG.png);
}

.contact-team-section .team-item .team-img {
    position: relative;
}

.contact-team-section .team-item img {
    width: 95px;
    height: 95px;
    display: block;
    border-radius: 50%;
    transition: 0.5s;
    object-fit: contain;
}

.contact-team-section .team-item .team-info {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-team-section .team-item .team-info h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.contact-team-section .team-item .team-info p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 0px;
    display: inline-block;
}

.contact-team-section .team-item li {
    list-style: none;
    font-size: 30px;
}

.contact-team-section .team-item ul {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px;
}

.contact-team-section .team-item .whatsapp i {
    background-color: rgb(102, 211, 103);
    padding: 5px;
    margin: 20px 20px 0px 25px;
    border-radius: 10px;
    color: white;
}

.contact-team-section .team-item .telegram i {

    padding: 5px;
    margin: 15px 0px 0px 0px;
    border-radius: 100px;
    font-size: 40px;
}

/* ----------------------contact-team-section-end--------------- */

/* ----------------------down-banner-section-start-------------- */

.down-banner-section .bnr-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------------down-banner-section-end-------------- */

/* -------------------management-section-start--------------- */

.management-section {
    background: radial-gradient(circle, rgb(3 19 73) -56%, rgba(0, 0, 0, 1) 100%);
}

.management-section .management-left-content {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    width: 80%;
    margin: 0 60px 0 60px;
}

.management-section .management-left-content img {
    width: 375px;
    height: 80px;
    margin-bottom: 20px;
}

.management-section .management-left-content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.management-section .management-left-content h5 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}

.management-section .bottom-new li {
    list-style: none;
    font-size: 20px;
}

.management-section .bottom-new ul {
    display: flex;
    gap: 25px;
    padding: 0;
}

.management-section .bottom-new li a {
    position: relative;
    color: white;
    display: block;
    height: 34px;
    width: 28px;
    line-height: 34px;
    text-align: center;
}

.management-section .bottom-new li a:hover {
    background-color: red;
    color: #fff;
}

.management-section .management-right-content {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    width: 90%;
}

.management-section .management-right-content .title {
    font-size: 33px;
    font-weight: 900;
    font-family: 'Avenir Book';
}


/*---------------------management-section-end------------------*/

/*---------------------bottom-section-started------------------*/

.bottom-section {
    background-color: rgb(10, 16, 52);
    color: white;
    margin-bottom: 50px;
    padding: 32px 0px;

}

.bottom-section .general {
    display: flex;
    justify-content: space-between;
}

.bottom-section .pointer a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    position: relative;
}

.bottom-section .pointer a::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    background-color: white;
    transition-duration: 0.8s;
}

.bottom-section .pointer a:hover:before {
    width: 100%;
    transition: 0.8s;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.bottom-section .disclaimer p {
    font-size: 11px;
    line-height: 14px;
    margin: 40px 0px 20px;

}

.bottom-section .pointer span {
    padding-right: 10px;
    border-right: 1px solid white;
}



.footer-section{
    position: fixed;
    bottom: 0;
    z-index: 920;
    width: 100%;
    color: white;
    padding: 10px 0;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(9, 24, 75, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.footer-section .count-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 5px;
}
.footer-section .count-time{
    display: flex;
}
.footer-section .count-time .time{
    text-align: center;
    display: flex;
    align-items: baseline;
    gap: 7px;
}
.footer-section .count-time .time p{
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 500;
    min-width: 30px;
    color: #fff;
}

.footer-section .count-time .time span{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-Rubik);
}

.footer-section .count-section button{
    width: 150px;
    height: 50px;
    color: white;
    background-color: rgb(216,70,155);
    border-radius: 10px;
    border-color: white;
}






/* ---------------------footer-section-end---------------- */

/* ------------------side-bar-section------------ */
.side-bar-section ul li a.Buy-Tickets{
    background: linear-gradient(100.07deg, #5c5cff 0%, #2F2FBB 176.51%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    font-size: 9.5px;
    font-weight: 700;
    width: 58px;
    height: 100px;
    color: #fff;
    letter-spacing: .5px;
    line-height: 13px;
    text-align: center;
    border-radius: 25px;
    text-transform: uppercase;
    transition: .2s ease-out;
    font-family: "Montserrat", 'sans-serif';
}
.side-bar-section{
    position: fixed;
    top: 40%;
    right: 20px;
}

.side-bar-section ul li{
    list-style: none;
    padding-bottom: 10px;
}

/*-----------------bottom-section-end---------*/


/* ----------------mobile-view-started---------- */

@media screen and (max-width:992px) {
    .header-section .header{
      justify-content: left;
        
    }
    
    .hamburger .line{
        width: 25px;
        height: 3px;
        background-color: rgb(210,41,127);
        margin-bottom: 5px;
    }
    .hamburger{
        float: right;
        width: 100%;
        position:absolute;
        left: 80%;
        display: block;
        padding-top: 10px;
    }
    
    .header-section .header ul{
        position: absolute;
        display: block;
        height: 100vh;
        background-color: black;
        left:-100%;
        width: 80%;
        z-index: -1;
        top: 0px;
        transition:1s;
        padding: 80px 50px 20px 20px;
    }
    .header .menu.slide ul{
        left:0%;
        transition: 1s !important;
    }
    
    .header-section .header ul li{
        padding: 10px
    }
    .header-section .header ul li.white-btn{
        padding: 0;
    }
    .header-section .header ul li.blue-btn{
        margin: 10px;
    }
    .header-section .header ul li.pink-btn{
        margin: 10px;
    }

    .about-section .about-content h1 {
        font-size: 38px;
    }

    .counter-section .counter-item .counter {
        font-size: 35px;
    }

    .counter-section .counter-item span {
        font-size: 16px;
    }

    .attend-section .attend-content-left .title h1 {
        font-size: 38px;
    }

    .sponsor-section .titanium-section .sponsor-item {
        width: 30% !important;
    }

    .side-bar-section{
        display: none;
    }
    
}

@media screen and (max-width:575px) {

    .banner-section .banner {
        height: 85vh;
    }

    .banner-section .banner .bnr-center-title h4 {
        font-size: 15px;
    }

    .banner-section .banner .bnr-center-title h3 {
        font-size: 18px;
    }

    .banner-section .banner .bnr-btn button {
        width: 120px;
        height: 40px;
        font-size: 10px;
        margin: 0px 5px;
    }

    .about-section {
        padding: 60px 0px;
    }
  

    .about-section .about-content h1 {
        font-size: 30px;
    }

    #counter_section .counter-item {
        margin: 20px 0px;
    }.counter-section {
         padding: 0px;
    }

    .attend-section{
        padding: 60px 0px;
    }
    .attend-section .attend-content-left .title h1 {
        font-size: 30px;
    }

    .attend-section .attend-content-left ul {
        display: block;
    }

    .highlight-section {
        padding: 60px 0px;
    }

    .highlight-section .title h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }


    .highlight-section .high-light-inner {
        border-radius: 20px;
    }

    .speaker-section {
        padding: 60px 0px;
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .speaker-section .title h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    
    .sponsor-section{
        padding: 60px 0px;
    }
    .sponsor-section .titanium-section .sponsor-item {
        width: 50% !important;
    }
    .sponsor-section .titanium-section .sponsor-card{
        width: 130px;
        height: 130px;
    }

    .sponsor-section .titanium-section h1{
        font-size: 18px;
    }

    .sponsor-section .title h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contact-team-section{
        padding: 60px 0px;
    }
    .contact-team-section .title h1{
        font-size: 30px;
    }

    .map-section{
        padding: 60px 0px;
    }

      /*---------management-section-------*/
     
      .management-section .management-left-content img{
        padding-top: 40px;
        width: 250px;
        height: 100px;
    }
    .management-section .management-left-content{
        margin: 0px 10px;
        left: 10px;
        padding: 0;
    }
    .management-section .bottom-new ul{
        gap: 7px;
    }
    .management-section .bottom-new ul li a{

        width: 20px;
    }
    .management-section .management-right-content{
        padding: 20px 0px 20px 10px;
    }

    
    /*----------bottom-section----------*/


    .bottom-section .general{
        display: block;
        text-align: center;
        font-size: 13px;
        line-height: 30px;
    }
    .bottom-section{
        padding-bottom: 50px;
    }

    .footer-section .count-time .time p{
        font-size: 15px;
    }

    .footer-section .count-time .time span {
        font-size: 15px;
    }
    .footer-section .count-section{
        justify-content: center;
    }
}
@media screen and (max-width:321px) {
    .banner-section .banner .bnr-btn button.bnr-pink-btn {
        margin-top: 10px;
    }
}